ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0; }

.nav-item-font, .nav-item-icon {
  margin: 0 10px; }

.nav-icon {
  font-size: 25px; }

.nav-item-icon:hover {
  color: #b10406;
  opacity: 1;
  transition: all 0.8s; }

.nav-site, .nav-social {
  display: flex; }

.nav-item-font {
  margin: 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  font-family: 'Open Sans Condensed', sans-serif; }

.nav-item-link {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  opacity: 0.8;
  font-weight: 200;
  transition: all 0.65s; }

.nav-item-link:hover {
  opacity: 1;
  font-weight: 400;
  transition: all 0.8s; }

.nav-item-font hr {
  opacity: 0;
  width: 0;
  transition: all 0.65s; }

hr {
  background-color: #fff;
  width: 0%;
  margin: 0 auto;
  opacity: 0; }

.nav-item-font:hover hr {
  background-color: #b10406;
  opacity: 1;
  width: 100%;
  transition: all 0.8s; }

.nav-item-link i.nav-icon {
  font-size: 28px; }

.landing-header h1.header-item {
  position: relative;
  font-size: 5em;
  font-family: 'Nothing You Could Do', serif;
  font-weight: 100;
  font-style: italic;
  color: #b5b5b5;
  letter-spacing: 2px;
  margin: 0 auto;
  border: none; }

.profession a, .profession {
  color: #b5b5b5;
  text-decoration: none; }

.landing-header h1, .profession a, .profession .text, .scroll-prompt i {
  opacity: 0.5;
  transition: opacity 0.7s ease-in; }

.landing-header h1:hover, .profession a:hover, .scroll-prompt i:hover {
  opacity: 0.7;
  transition: opacity 0.8s ease-out; }

.scroll-prompt {
  margin-top: 15px; }

.scroll-prompt {
  transform: translateY(0);
  transition: transform 0.5s; }

.scroll-prompt i {
  font-size: 20px;
  color: #b5b5b5;
  -webkit-animation: scroll-me 3.5s linear infinite; }

.scroll-prompt:hover {
  transform: translateY(3px);
  transition: transform 0.5s; }

@-webkit-keyframes scroll-me {
  0% {
    color: #9a9a9a; }
  25% {
    color: #fff; }
  50% {
    color: #9a9a9a; }
  75% {
    color: #fff; }
  100% {
    color: #9a9a9a; } }
hr.separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(68, 68, 68, 0.2), rgba(86, 86, 86, 0.8), rgba(68, 68, 68, 0.2));
  width: 100%;
  opacity: 1; }

.info-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%; }

/* Styling for professional section*/
/* Base box container styling*/
/* This placement of the container is the same for any job */
/* Right Orientation Section */
/* Left Orientation Section */
/* Personal section */
/* Carousel Section */
div.carousel {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 75vh;
  width: 80%;
  background-color: #ff253a;
  align-self: center; }

/* Carousel nav buttons */
div.prev, div.next {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  min-width: 10%;
  font-size: 20px;
  color: #000;
  transform: scale(1, 1);
  opacity: 0.1;
  transition: all 0.3s ease-in; }

div.prev:hover, div.next:hover {
  opacity: 0.85;
  transition: opacity 0.45s; }

div.prev:active i, div.next:active i {
  transform: scale(1.2, 1.2);
  opacity: 1;
  transition: transform 0.3s ease-in; }

/* Carousel content */
div.carousel {
  overflow: hidden; }

div.carousel-content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-basis: 80%;
  opacity: 1;
  transition: opacity 0.9s; }

div.header-content, div.text-content {
  background-color: #000;
  color: #fff;
  width: 100%;
  margin: 0 10px; }

div.header-content {
  flex-basis: 15%;
  margin-bottom: 10px;
  opacity: 0.9;
  transform: scale(1, 1);
  opacity: 1;
  transition: transform 0.45s ease-in; }

div.header-content:hover {
  transform: scale(1.05, 1.05);
  opacity: 1;
  transition: transform 0.45s ease-in; }

div.text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 85%;
  opacity: 0.9;
  transform: scale(1, 1);
  opacity: 1;
  transition: transform 0.45s ease-in; }

div.text-content:hover {
  transform: scale(1.05, 1.02);
  opacity: 1;
  transition: transform 0.45s ease-in; }

div.header-content h2 {
  font-size: 40px; }

div.text-content p {
  font-weight: bold; }

.float-in-left {
  animation: inLeft 0.4s ease-in 1; }

.float-in-right {
  animation: inRight 0.4s ease-in 1; }

.float-in-top {
  animation: floatDown 0.4s ease-in 1; }

@keyframes inLeft {
  0% {
    transform: translateX(-1500px); }
  100% {
    transform: translateX(0px); } }
@keyframes inRight {
  0% {
    transform: translateX(1500px); }
  100% {
    transform: translateX(0px); } }
@keyframes floatDown {
  0% {
    transform: translateY(-1500px); }
  100% {
    transform: translateY(0px); } }
.contact-input, .contact-input {
  border: 0;
  outline: none; }

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 400px;
  width: 50%;
  padding: 10px;
  background-color: #f0f0f0; }
  .contact-form input, .contact-form textarea, .contact-form .contact-button {
    border: none; }
    .contact-form input:focus, .contact-form textarea:focus, .contact-form .contact-button:focus {
      outline: none; }
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    font-size: 20px;
    font-weight: 200;
    border-bottom: 1px solid #000000; }
    .contact-form input::placeholder, .contact-form textarea::placeholder {
      font-family: FontAwesome, "Montserrat", sans-serif;
      font-weight: 400;
      color: #2c2c2c;
      opacity: 0.5; }
  .contact-form textarea {
    height: 150px;
    resize: none; }
  .contact-form button.contact-button {
    height: 45px;
    width: 50%;
    border-radius: 25px;
    background-color: #bf030f;
    opacity: 0.8;
    color: #fff;
    font-size: 20px; }

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: auto; }

.Landing, .Info, .Contact {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 30px; }

.Contact {
  background-color: #f0f0f0;
  flex: 1 1 auto; }

.Info {
  background: linear-gradient(to bottom, white 0%, white 50%, black 50%, black 100%);
  flex: 2 2 auto; }

.Landing {
  background-image: linear-gradient(rgba(223, 206, 227, 0.19), rgba(196, 179, 200, 0.05)), url(../../../Resources/IMG/Home-BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed; }

h1 {
  font-family: "Nothing You Could Do", serif;
  font-size: 45px;
  font-weight: 100;
  padding: 2px 5px;
  letter-spacing: 1px;
  color: #fff; }

header {
  position: fixed;
  width: 100%;
  background-color: #2c2c2c;
  opacity: 0.8; }

/*Gonna need this later code later*/
/*header:hover */
/*-webkit-animation: nav-in 1s*/
/*animation-fill-mode: forwards*/
/**/
/*@-webkit-keyframes nav-in */
/*0%  opacity: 0 */
/*100% */
/*opacity: 1*/
/*z-index: 1*/
/**/
/**/
/*@-webkit-keyframes nav-out */
/*from opacity: 0.8*/
/*to opacity: 0*/
/**/

/*# sourceMappingURL=App.css.map */
