//App Variables
$main-font: 'Montserrat';
$header-font: "Nothing You Could Do";

//Landing Section Variables
$landing-font-color: #b5b5b5;

//About Section Variables
$carousel-timing: 0.4s;
$hover-timing: 0.45s;
$button-timing: 0.3s;

//Contact Section Variables
$contact-theme: #f0f0f0;
$contact-form-height: 400px;