.landing-header h1 {
    font-size: 5rem;
    font-family: 'Cormorant Garamond', serif;
    color: #b5b5b5;
    letter-spacing: 2px;
    margin: 0 auto;
}

.scroll-prompt {
    margin-top: 15px;
}

.profession a {
    color:#b5b5b5;
    text-decoration: none;
}

.scroll-prompt i {
    font-size: 20px;
    color: #b5b5b5;
    -webkit-animation: scroll-me 1.9s linear infinite;
}

.landing-header h1:hover, .profession a:hover, .scroll-prompt i:hover{
    opacity: 0.8;
    transition: opacity 0.8s;
}

@-webkit-keyframes  scroll-me {
    0% { color: #b5b5b5; }
    50% { color: #fff; }
    100% { color: #b5b5b5; }
}