/* Nav Wrapper */
.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

/* Nav Toggle */
.nav-toggle {
    position: relative;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
    padding: 8px;
    width: 55px;
    z-index: 20;
}

.bar-1, .bar-2, .bar-3 {
    border-radius: 5px;
    height: 4px;
    width: 80%;
}

.bar-3  {
    width: 50%;
}

.nav-toggle.mobile-active {
    align-items: center;
    position: relative;
}


.nav-toggle.mobile-active > .bar-1, .nav-toggle.mobile-active > .bar-3 {
    position: absolute;
    width: 30%;
    left: 18%;
    transition: all var(--global-transition);
}

.nav-toggle.mobile-active > .bar-1 {
    top: 37%;
    left: 18%;
    transform: rotate(-45deg);
}

.nav-toggle.mobile-active > .bar-2 {
    position: relative;
    top: 45%;
    transition: all var(--global-transition);
}

.nav-toggle.mobile-active > .bar-3 {
    top: 57%;
    left: 18%;
    transform: rotate(45deg);
}

/* Nav Content */
.navbar-content {
    background: var(--white);
    background: linear-gradient(288deg, var(--pastel-yellow) -28%, var(--white) 35%);
    height: 100vh;
    left: -101vw;
    opacity: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    transition: all var(--global-transition);
    width: 100vw;
    z-index: 2;
}

.navbar-content.mobile-active {
    left: 0;
    opacity: 1;
}

.active-page-link {
    font-weight: 600;
}

.active-page-link-underline {
    border-radius: 15px ;
    display: block;
    height: 4px;
    width: 4px;
}

.nav-item-icon {
    opacity: 0;
}

.nav-item-icon.icon-active {
    opacity: 1;
    transition: all 800ms;
    
}

/* Desktop Breakpoint */
@media only screen and (min-width: 768px) {
    :root {
        /* 
        This desktop nav max width variable is also defined in a media query in the global.css file.
        If this value is adjusted here make sure to do the same in that file
        */
        --desktop-nav-max-width: 145px;
    }

    .nav-toggle {
        display: none;
    }

    .navbar-content {
        background: transparent;
        border-radius: 0;
        left: 0;
        max-width: var(--desktop-nav-max-width);
        opacity: 1;
        width: 18vw;
    }

    .desktop-content-seperator {
        background-color: var(--dark-grey);
        border-radius: 5px;
        display: block;
        height: 80vh;
        left: var(--desktop-nav-max-width);
        position: relative;
        width: 3px;
        top: 10vh;
    }
}