.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 100%;
}
.About, .Info, .Contact {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.About,.Contact {
    background-color: #f0f0f0;
    flex-grow: 1;
}
.Info {
    background-color: #e4e4e4;
    flex-grow: 2;
}


