/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Local imports */
@import "./components/navbar.css";
@import "./components/footer.css";
@import "./components/home.css";

:root {
  --global-transition: 400ms;
  --white: #FAFAFA;
  --dark-grey: #505050;
  --black: #171717;
  --pale-yellow: #E9EB78;
  --shaded-yellow: #ABAD58;
  --pastel-yellow: #D6D94E;

  /* Animation variables for news ticker */
  --animationDistance: -100px;
  --animationDuration: 1s;
}

html {
  box-sizing: border-box;
}

body {
  color: var(--white);
  min-height: 100vh;
}

main {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  position: relative;
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-bebas-neue {
  font-family: var(--font-bebas-neue);
}

.section-styles {
  border-radius: 20px;
  height: 85vh;
  margin-bottom: 20px;
  padding: 15px;
  width: 90%;
}

.section-height-restriction-sm {
  max-height: 400px;
}

.section-height-restriction-md {
  max-height: 450px;
}

.section-height-restriction-lg {
  max-height: 500px;
}

.section-height-restriction-xl {
  max-height: 580px;
}

.page-content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  min-height: 100vh;
  justify-content: space-between;
  padding: 15px;
  width: 100vw;
} 

/* Desktop Breakpoint */
@media only screen and (min-width: 768px) {
  :root {
    --desktop-nav-max-width: 145px;
  }
  .page-content-container {
    margin-left: var(--desktop-nav-max-width);
    width: calc(100vw - var(--desktop-nav-max-width));
  } 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
