/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Local imports */
@import "./components/navbar.css";

:root {
  --global-transition: 400ms;
}

html {
  font-family: var(--font-poppins);
  box-sizing: border-box;
}

body {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
}

.bebas-neue {
  font-family: var(--font-bebas-neue);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
